[Unit]
Description=CSI-Pi
After=network.target

[Service]
ExecStart=/home/pi/.local/bin/uvicorn src.csi_pi.app:app --host 0.0.0.0 --port 8080
WorkingDirectory=/home/pi/CSI-Pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

