<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        pre {
            margin: 0;
        }

        .device_block {
            border: 1px solid black;
            padding: 4px;
            display: inline-block;
            max-width: 400px;
            margin: 20px;
            border-radius: 2px;
        }

        .device_block .horizontal_scrollable {
            overflow-x: scroll;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        .device_block .horizontal_scrollable::-webkit-scrollbar {
            display: none;
        }
    </style>
    <title>CSI-Pi</title>
</head>
<body>
<div id="app">
<pre style='white-space: pre-wrap;'>
   ___ ___ ___   ___ _
  / __/ __|_ _| | _ (_)
 | (__\__ \| |  |  _/ |
  \___|___/___| |_| |_|

CSI Pi, Steven M. Hernandez

---------
DATA_DIR: {{data_dir}}</pre>
    <pre>TEST_DEBUG: {{ device_loaded }}</pre>
    <pre>---------

---------
Devices:

</pre>
    <div v-for="dev in devices" :key="dev.device_name" style='white-space: pre-wrap;' class="device_block">
        <apexchart type="line" height="150" ref="chart" :options="chartOptions"
                   :series="[{'data': dev.data_rate.split('\n').filter(x => x).map(x => x.split(',')[1]).slice(-60)}]"></apexchart>
        <pre>
Device: {{ dev.device_name }}
Application: {{ dev.application }}
Channel: {{ dev.wifi_channel }}
Data Rate: {{ dev.data_rate.split("\n").filter(x => x).map(x => x.split(",")[1]).at(-1) }} Hz
File Size: {{ dev.files_size }} bytes</pre>
        <pre class="horizontal_scrollable" v-if="dev.most_recent_csi.samples.length > 0">
Most Recent CSI At: {{ dev.most_recent_csi.samples.split("\n").map(x => x.split(",").at(-2)).slice(-2,-1).map(x => new Date(parseFloat(x)))[0] }}

{{ dev.most_recent_csi.samples }}</pre>
    </div>
    <pre style='white-space: pre-wrap;'>
---------

---------
annotations.csv
Most Recent Annotation At: {{ annotations_data.split("\n").map(x => x.split(",").at(2)).slice(-2, -1).map(x => new Date(parseInt(x)))[0] }}
---------

{{ annotations_data }}
</pre>


</div>
<script src="/js/vue.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/apexcharts.min.js"></script>
<script src="/js/vue-apexcharts.min.js"></script>
<script>
    var app = null;
    window.onload = () => {
        app = new Vue({
            el: '#app',
            data() {
                return {
                    device_loaded: "",
                    data_dir: "",
                    devices: {},
                    data_rates: {},
                    annotations_data: "",
                    chartOptions: {
                        chart: {
                            id: 'realtime',
                            fontFamily: 'monospace',
                            height: 150,
                            type: 'line',
                            animations: {
                                enabled: false,
                            },
                            toolbar: {
                                show: false
                            },
                            zoom: {
                                enabled: false
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'smooth',
                            colors: ['#000000'],
                            width: 1,
                        },
                        xaxis: {
                            axisBorder: {
                                show: false
                            },
                            axisTicks: {
                                show: false
                            },
                            labels: {
                                show: false
                            },
                            range: 60,
                        },
                        yaxis: {
                            title: {text: 'Data Rate (Hz)'},
                            labels: {
                                style: {
                                    fontWeight: 100
                                }
                            }
                        },
                        legend: {
                            show: false
                        },
                    },
                }
            },
            methods: {
                reload() {
                    self = this
                    axios.get("/device-list")
                        .then(response => {
                            response.data.forEach(device_name => {
                                function load_device_metrics() {
                                    axios.get("/device-metrics?device_name=" + device_name)
                                        .then(response => {
                                            self.devices[device_name] = response.data;
                                            self.device_loaded = response.data.device_name;  // TODO: Figure out why this is required..
                                            setTimeout(load_device_metrics, 1000);
                                        });

                                }
                                load_device_metrics()
                            });
                        });

                    function load_annotation_metrics() {
                        axios.get("/annotation-metrics")
                            .then(response => {
                                this.annotations_data = response.data.data;
                                setTimeout(load_annotation_metrics, 10000);
                            });
                    }

                    load_annotation_metrics()

                    axios.get("/data-directory")
                        .then(response => {
                            this.data_dir = response.data;
                        });
                },
            },
            mounted() {
                this.reload()
            }
        });

        Vue.component('apexchart', VueApexCharts)
    }
</script>
</body>
</html>