<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>CSI-Pi</title>
</head>
<body>
<div id="app">
<div class="navigation" v-cloak>
    <a v-bind:href="value" v-bind:class="{'selected': location == value}" v-for="(value, key, index) in server_stats.navigation">{{ key }}</a>
</div>
<div class="main">
<pre>
   ___ ___ ___   ___ _
  / __/ __|_ _| | _ (_)
 | (__\__ \| |  |  _/ |
  \___|___/___| |_| |_|

CSI Pi, Steven M. Hernandez
</pre>
<div v-if="false">Loading...</div>
<div v-cloak>

---------<br>
HOST_NAME: {{ server_stats.hostname }} <br>
DATA_DIR: {{ server_stats.data_directory }} <br>
TTY_PLUGINS:<br>
<div v-for="plugin in server_stats.tty_plugins" style="margin-left: 16px;">- {{ plugin }}</div>
STORAGE_USED: {{ format_file_size(server_stats.storage.used)  }} of {{ format_file_size(server_stats.storage.total) }} ({{ (server_stats.storage.used / server_stats.storage.total * 100).toFixed(1) }}%)<br>
NOTES:<br>
<textarea v-model="notes"></textarea><br>
---------<br><br>

---------<br>
Devices (Count: {{ device_list.length }}):<br>

    <div v-for="dev in devices" :key="dev.device_name" v-bind:class="{'device_block': true, 'error': device_has_error(dev)}">
        <apexchart type="line" height="150" ref="chart" :options="chart_options(device_has_error(dev))"
                   :series="[{'data': dev.data_rate.split('\n').filter(x => x).map(x => x.split(',')[1]).slice(-60)}]"></apexchart>
<div v-if="!server_stats.is_csi_enabled" style="color: red">CSI COLLECTION IS CURRENTLY DISABLED</div>
Device: {{ dev.device_name }} <br>
Application: {{ dev.application }} <br>
Channel: {{ dev.wifi_channel }} <br>
Data Rate: {{ dev.data_rate.split("\n").filter(x => x).map(x => x.split(",")[1]).slice(-2, -1)[0] }} Hz <br>
File Size: {{ dev.files_size }} bytes ({{ format_file_size(dev.files_size) }}) <br>

        <pre class="horizontal_scrollable" v-if="dev.most_recent_csi.samples.length > 0">
Most Recent CSI At: {{ dev.most_recent_csi.samples.split("\n").map(x => x.split(",").slice(-2, -1)[0]).slice(-2,-1).map(x => new Date(parseFloat(x)))[0] }}

{{ dev.most_recent_csi.samples }}</pre>
    </div>
    <pre style='white-space: pre-wrap;'>
---------

---------
annotations.csv
Number of Annotations: {{ annotations_data.split("\n").filter(row => row.indexOf("CURRENT_ACTION") >= 0).length }}
Most Recent Annotation At: {{ annotations_data.split("\n").map(x => x.split(",")[2]).slice(-2, -1).map(x => new Date(parseInt(x)))[0] }}
---------

{{ annotations_data.split("\n")[0] }}
{{ annotations_data.split("\n").reverse().join("\n") }}
</pre>
</div>
</div>
</div>

<script src="/js/vue.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/apexcharts.min.js"></script>
<script src="/js/vue-apexcharts.min.js"></script>
<script src="/js/lodash.full.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
